opentelemetry-api==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-instrumentation==0.60b1
opentelemetry-propagator-b3>=1.21.0
opentelemetry-propagator-jaeger>=1.21.0
prometheus-client==0.21.1
psutil>=5.9.0
opentelemetry-instrumentation-grpc==0.60b1
grpcio==1.68.1
